.link-active{
    color: black;
    border-bottom: 5px solid white;
    /* font-weight: bold; */
}
/* 

@media screen and (max-width: 667px) {
    .Footersocials{
        margin-left: auto;
        margin-right: auto;
    }
  }
   */


   

@media screen and (max-width: 1059px) {
    .angular-shape{
        clip-path: polygon(0% 0%, 100% 0, 100% 97%, 53% 100%, 0 97%);
    }
  }
  

.angular-shape {
    min-height: 100vh;
    width: 100%;
    color: white;
    border-radius: 30px;
    background-color: #000000;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 53% 100%, 0 90%);
}

.gradient-border-after {
    position: relative;
    padding-bottom: 20px;
}

.gradient-border-after::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #F8E930, #3C49C0);
    border-radius: 2px;
}


@media screen and (max-width: 1059px) {
    .angular-shape{
        clip-path: polygon(0% 0%, 100% 0, 100% 95%, 53% 100%, 0 95%);
    }
  }
